.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1170px;
  margin: 40px auto;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
}
