.hero {
  position: relative;
  min-height: 700px;
}

.overlay {
  position: absolute;
  background: linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);
  width: 100%;
  min-height: 700px;
  transform: skewY(-12deg);
  transform-origin: 0;
}

.objectOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 230px;
  background: linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);
}

.objectTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 100px;
  background: linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);
}

.wrapper {
  position: relative;
  max-width: 1170px;
  min-height: 700px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.imageContainer {
  width: 50%;
}

.imageContainer img {
  margin-top: 80px;
  max-width: 100%;
}