.header {
  background: linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);
}

.wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}