.button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 0;
  width: 100%;
  top: 100px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  transition: all 0.5s;
}

.listVisible {
  max-height: 1000px;
  padding: 20px 0;
}

@media (min-width: 960px) {
  .button {
    display: none;
  }
  .list {
    display: none;
  }
}