.wrapper {
  margin-bottom: 25px;
}

.featureWrapper {
  font-size: 0.9em;
  margin: 0 15px;
  border: 1px solid #cccccc;
  padding: 60px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s;
}

.featureWrapper:hover {
  border: 1px solid #3ecf8e;
  box-shadow: 0px 2px 12px 8px rgba(0, 0, 0, 0.06);
}

@media (min-width: 900px){
  .wrapper {
    width: 33.33%;
  }
}